body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dcdcdc;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #81c9cd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzleContainer {
    margin-right: 40px;
}

#puzzle {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

#puzzle .tile {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #000;
    background-color: #eee;
    cursor: pointer;
}

#puzzle .tile:empty {
    background-color: #fff;
    cursor: default;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#stepsContainer {
    position: flex;
    width: 150px;
    height: 480px;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#movesContainer {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    padding-top: 10px;
}

#movesContainer h2 {
    margin-bottom: 10px;
}

.state {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    gap: 2px;
    margin-bottom: 10px;
}

.small-tile {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid #000;
    background-color: #eee;
}

.small-tile:empty {
    background-color: #fff;
}

.close-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 325px;
}

.close-button:hover {
    background-color: #c82333;
}

.names {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.names ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.names li {
    margin: 0 10px;
}