<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8 Puzzle Game</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="names">
        <ul>
            <li>Ghalia Azzam</li>
            <li>Amena ALnaeeme</li>
            <li>Haneen Alasfar</li>
            <li>Yaman Hamed</li>
        </ul>
    </div>

    <div class="container">
        <div id="gameContainer">
            <div id="puzzleContainer">
                <h1>8 Puzzle Game</h1>
                <div id="puzzle"></div>
                <button id="solveButton">Solve</button>
                <button id="shuffleButton">Shuffle</button>
                <button id="aStarButton">Solve with A*</button>
                <button id="closeButton" class="close-button">Close Game</button>
            </div>
        </div>
        <div id="stepsContainer">
            <div id="movesContainer">
                <h2>Moves</h2>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>

</html>